  @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Delicious+Handrawn&family=Rock+Salt&family=Shadows+Into+Light&family=Work+Sans&display=swap');

.quiz-app {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #333;
}

.score-count{
  color:white;
}

.wrong-quiz-app {
  margin-top: 0px;
}

.exit-button:hover {
  background-color: #cc0000;
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #5264c5;
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.question-text{
  font-size: 24px;
  margin-bottom: 20px;
  font-family: Shadows Into;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;

}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  margin: 10px;
  width: calc(50% - 20px);
  background-color: #5264c5;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #314190;
}

.score-section {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.score-section div {
  margin-bottom: 20px;
}

.exit-button {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wrong-answers {
  margin-top: 20px;
  font-size: 15px;
}

.wrong-answers div {
  margin-bottom: 10px;
}

.card {
  background-color: #5264c5;
  color: white;
  width: 100%;
  max-width: 700px;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  transition: box-shadow 0.3s ease;
  border-radius: 15px;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.003);
}

.card .image {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
}
.question-image{
  height: 200px;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* Responsive Design */

@media screen and (max-width: 600px) {
  .btn {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }
}
