@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Delicious+Handrawn&family=Montserrat+Alternates:wght@700&family=Rock+Salt&family=Shadows+Into+Light&family=Work+Sans&display=swap');

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  background-image: url("https://cdn.pixabay.com/photo/2022/03/15/08/23/school-supplies-7069763_1280.jpg");
}

.efe{
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-right: 20px;
  font-size: 19px;
}

h1{
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  font-size: 44px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: space-around;
  align-items: center;
  margin-top: 55px;
}

.quiz-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 300px;
  align-items: center;
}

.pic {
  cursor: pointer;
  height: calc(100% - 59px);
  transition: transform 0.3s ease-in-out;
  display: block;
  object-fit: contain;

}

.pic:hover {
  transform: scale(1.01);
}

.lbl {
  background-color: white;
  padding: 7px;
  font-weight: bold;
  z-index: 1;
  position: relative;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App #root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Media Queries */

@media (min-width: 480px) {
  .image-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .image-container img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 55px;
  }

  .container {
    flex-direction: row;
  }

  .quiz-item {
    width: 33%;
  }

  .pic {
    max-width: 250px;
  }

  .image-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .image-container img {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
}
